.bigscreen {
  .chats-list {
    padding: 0;
  }
}

.chats {
  display: flex;
  flex-flow: column;
  z-index: 12;
  position: absolute;
  top: 10px;
  bottom: 100px;
  left: 15px;
  width: 350px;
  overflow-y: scroll;
  background-color: rgba(225, 225, 225, .7);

  .chat-message {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding: 10px 20px;
    background-color: var(--dark-theme-bgfield);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input-file {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &__label {
      padding: 5px 10px;
      background-color: white;
      border-radius: 5px;
      flex-grow: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }
}