.start-page {
display: flex;
  justify-content: space-between;
}
.creat-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efece5;
  display: flex;
  justify-content: center;
  align-items: center;

  &_button {
  background-color: green;
}

  .video {
    width: 300px;
  }
}
