
.toolbar {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 5px;
  height: 80px;
  right: 5px;

  &__wrapper {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    color: var(--dark-theme-text);
    padding: 10px;
    box-shadow: 0 0 5px grey;
  }


}
